coverage~=7.6.10          # testing
bcrypt~=4.2.1
docker~=7.1.0
fastapi~=0.115.7
httpx~=0.28.1             # testing
humanize~=4.11.0
jinja2~=3.1.6
peewee~=3.17.8
psutil~=7.0.0
pydantic~=2.10.6
pydantic-settings~=2.7.1
pylint~=3.3.4             # testing
pytest~=8.3.4             # testing
pytest-asyncio~=0.25.3    # testing
python-dotenv~=1.0.1
python-multipart~=0.0.20
schedule~=1.2.2
redis~=5.2.1
ruff~=0.9.9
supervisor~=4.2.5
uvicorn[standard]~=0.34.0
