{% extends "table.html" %}

{% block table %}
<div class="uk-container">
  <div class="uk-margin-small-top">
    <table id="datatable" class="uk-table uk-table-small uk-table-hover lato-font">
      <thead class="uk-text-secondary">
          <tr>
              <th>ID</th>
              <th>Repository&nbsp;Tags</th>
              <th>Size</th>
              <th>Shared&nbsp;Size</th>
              <th>Containers</th>
              <th>Created</th>
          </tr>
        </thead>
        <tbody class="uk-text-secondary">
          {% for item in items %}
            <tr>
              <td class="uk-text-nowrap mono-font">{{ item.short_id }}</td>
              <td class="uk-text-nowrap">
                {% for repo_tag in item.safe_repo_tags %}
                  {% if repo_tag == '<none>:<none>' %}
                    <span class="uk-text-muted">{{ repo_tag }}</span><br>
                  {% else %}
                  {{ repo_tag }}<br>
                  {% endif %}
                {% endfor %}
              </td>
              <td class="width-1">{{ item.size }}</td>
              <td class="width-1">{{ item.shared_size }}</td>
              <td>
                <ul class="uk-text-nowrap uk-padding-small uk-padding-remove-vertical">
                {% for name in item.containers %}
                  <li>{{ name }}</li>
                {% endfor %}
                </ul>
              </td>
              <td class="uk-text-nowrap uk-text-muted">
                <span uk-tooltip="title: {{ item.created }}; pos: top">
                  {{ item.created_delta }}
                </span>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  initializeDataTable({
    sizeCol: [2, 3],
    si: si,
    nonSortableColumns: [4, 5],  // Repository Tags, Containers
    nonSearchableColumns: [5]  // Created
  });
</script>
{% endblock %}
