<div class="uk-container">
  <div class="uk-margin-medium-top">
    <div uk-grid>
      <div class="uk-width-1-2@m">
        <div class="uk-width-1-1 uk-text-center">
          Docker Disk Usage
        </div>
        {% if image %}
        <div id="du-chart" class="uk-width-1-1 uk-height-large"></div>
        <div id="du-chart-image"
             data-value="{{ image.total_size or 0 }}"
             data-num="{{ image.num }}"
             data-name="Images"></div>
        <div id="du-chart-container"
             data-value="{{ container.total_size or 0 }}"
             data-num="{{ container.num }}"
             data-name="Containers"></div>
        <div id="du-chart-volume"
             data-value="{{ volume.total_size or 0 }}"
             data-num="{{ volume.num }}"
             data-name="Volumes"></div>
        <div id="du-chart-logfiles"
             data-value="{{ logfiles.total_size or 0 }}"
             data-num="{{ logfiles.num }}"
             data-name="Logs"></div>
        <div id="du-chart-build-cache"
             data-value="{{ build_cache.total_size or 0 }}"
             data-num="{{ build_cache.num }}"
             data-name="Build Cache"></div>
        {% else %}
        <div class="uk-width-1-1 uk-text-center uk-margin-large-top">
          Docker Disk Usage has not been calculated yet.
        </div>
        {% endif %}
      </div>
      <div class="uk-width-1-2@m">
        <div class="uk-width-1-1 uk-text-center">
          Overlay2 Usage
        </div>
        {% if overlay2 %}
        <div id="overlay2-chart" class="uk-width-1-1 uk-height-large"></div>
        <div id="overlay2-chart-in-use"
             data-value="{{ overlay2_in_use.total_size or 0 }}"
             data-num="{{ overlay2_in_use.num }}"
             data-name="In Use"></div>
        <div id="overlay2-chart-not-in-use"
             data-value="{{ overlay2_not_in_use.total_size or 0 }}"
             data-num="{{ overlay2_not_in_use.num }}"
             data-name="Not In Use"></div>
        {% else %}
        <div class="uk-width-1-1 uk-text-center uk-margin-large-top">
          Overlay2 has not been calculated yet.
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
