<!-- Divider -->
<div class="uk-height-small"></div>
<!-- Footer -->
<div class="uk-section uk-section-secondary uk-section-xsmall uk-position-bottom uk-position-fixed footer">
  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-expand@m uk-flex uk-flex-middle">
        <a href="https://github.com/amerkurev/doku" class="uk-link-reset uk-flex uk-flex-middle">
          <span uk-icon="github"></span>
          <span class="uk-margin-small-left">Star us on GitHub</span>
        </a>
    </div>
    <div class="uk-width-auto@m uk-text-right">
      <a href="https://github.com/amerkurev/doku/releases" class="uk-link-reset">
        <span>{{ request.state.version }}</span>
      </a>
    </div>
    </div>
  </div>
</div>
