<nav class="uk-navbar-container bg-moby-blue">
  <div class="uk-container">
      <div uk-navbar>

        <!-- Navbar left side -->
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="{{ url_for('index') }}" aria-label="Back to Home">
                <img src="{{ url_for('static', path='assets/images/docker-mark-white.svg') }}" width="25" height="25" alt="Docker Logo" />
            </a>
            <ul class="uk-navbar-nav">
                <li>
                    <a href="{{ url_for('dashboard') }}">Dashboard</a>
                </li>
                <li>
                    <a href="{{ url_for('images') }}">Images</a>
                </li>
                <li>
                    <a href="{{ url_for('containers') }}">Containers</a>
                </li>
                <li>
                    <a href="{{ url_for('volumes') }}">Volumes</a>
                </li>
                <li>
                    <a href="{{ url_for('bind_mounts') }}">Bind Mounts</a>
                </li>
                <li>
                    <a href="{{ url_for('logs') }}">Logs</a>
                </li>
                <li>
                    <a href="{{ url_for('build_cache') }}">Build Cache</a>
                </li>
                <li>
                    <a href="{{ url_for('overlay2') }}">Overlay2</a>
                </li>
            </ul>
        </div>

        <!-- Navbar right side -->
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
              <li>
                  <a href="#" id="theme-switcher">
                    <i class="bi-moon" style="font-size: 1.2rem;"></i>
                  </a>
              </li>
          </ul>
        </div>

      </div>
  </div>
</nav>
